{# Detalles específicos de un libro #}
<div class="mb-4">
    <h3 class="text-primary">
        <i class="fas fa-book"></i> Libro
    </h3>
</div>

<div class="mb-3">
    <h4 class="text-muted">Título:</h4>
    <h2>{{ bibliografia.titulo }}</h2>
</div>

<div class="mb-3">
    <h4>Autor(es):</h4>
    <ul class="list-unstyled">
        {% for autor in bibliografia.autores %}
            <li>{{ autor.apellidos }}, {{ autor.nombres }}</li>
        {% endfor %}
    </ul>
</div>

<div class="mb-3">
    <h4>Información General:</h4>
    <p><strong>Año de Edición:</strong> {{ bibliografia.anio_publicacion }}</p>
    <p><strong>Editorial:</strong> {{ bibliografia.editorial }}</p>
    {% if bibliografia.edicion %}
        <p><strong>Edición:</strong> {{ bibliografia.edicion }}</p>
    {% endif %}
    {% if bibliografia.isbn %}
        <p><strong>ISBN:</strong> {{ bibliografia.isbn }}</p>
    {% endif %}
    <p><strong>Formato:</strong> {{ bibliografia.formato|title }}</p>
</div>

{% if bibliografia.url %}
    <div class="mb-3">
        <h4>Enlaces:</h4>
        <div class="d-flex align-items-center">
            <div class="me-3 text-break" style="max-width: 70%;">
                <a href="{{ bibliografia.url }}" target="_blank" class="text-primary">
                    {{ bibliografia.url }}
                </a>
            </div>
            <a href="{{ bibliografia.url }}" target="_blank" class="btn btn-sm btn-info">
                <i class="fas fa-external-link-alt"></i> Abrir enlace
            </a>
        </div>
    </div>
{% endif %}

{% if bibliografia.nota %}
    <div class="mb-3">
        <h4>Nota:</h4>
        <p>{{ bibliografia.nota }}</p>
    </div>
{% endif %} 